header{
    height: 100px;
    background: rgb(129, 129, 129);
    display: flex;  
}

.container{
    margin-top: 1%;
}

header h1, h2{
    color: rgb(255, 255, 255);
    text-align: center;
    text-transform: uppercase;
    font-size: 2vw;
    

}

header h2{
    font-size: 20px;
    text-transform: none;
    margin-top: 1vw;
}

