.formP{
    margin: 0 auto;
    align-items: center;
    justify-content: center;
}

.formClass{
    margin-top: 3vw;
    margin-bottom: 3vw;
}

.formMain{
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    display: flex;
    border: 2px solid black;
    width: 30%;
    padding-top: 4vw;
    padding-bottom: 2%;
}
 
.form-control{
    display: flex;
    justify-content: space-between;
    margin-top: 1vw;
}
 
.form-control label{
    padding-right: 2vw;

}

.form-control input{

    width: 15vw;
    height: 1.5vw;
}
 
.buttonSubmit{
    text-align: center;
    margin-top: 5%;
}
 
.buttonSubmit button{
    padding: 0.75vw 0.5vw;
    border-radius: 0.25vw;
}