.img-nj {
    margin-top: 20px;
    display: flex;
    
}

.box{
    display: inline-block;
    margin-left: 10vw;
}

.box h1{
    font-size: 2vw;
    margin-bottom: 2vw;
}

.list{
    margin-top: 2vw;
    display: flex;
}

.img1{
    max-width: 20vw;
    max-height: 20vw;
    border: 5px solid goldenrod;
    border-radius: 2vw;
}

.img2{
    max-width: 18vw;
    max-height: 20vw;
    border: 5px solid goldenrod;
    border-radius: 2vw;
}

.lista{

    margin-top: 20px;
}

.lista h1{
    margin-bottom: 2vw;
}
.lista strong{
    justify-content: center;
}

.listagem{
    display: flex;
    flex-direction: column;
    border-radius: 1px solid red;
}

.listagem strong, .listagem span{
    
    padding: 3px;
}

.content-listagem{

    height: 280px;
    overflow: auto;
}