.img-nj{
    margin-top: 20px;
}

.img1{
    max-width: 20vw;
    max-height: 20vw;
    border: 5px solid goldenrod;
    border-radius: 2vw;
}

.img-nj h1{
    font-size: 3vw;
    
}

.lista{
    margin-top: 5vw;
    border: 2px solid black;
    padding: 1%;
}

.lista strong{
    justify-content: center;
}

.listagem{
    display: flex;
    flex-direction: column;
    border-radius: 1px solid red;
}

.listagem strong, .listagem span{
    
    padding: 5px;
}

.content-listagem{

    height: 332px;
    overflow: auto;
}