*{
  padding: 0;
  margin: 0 auto;
  font-family:Georgia, 'Times New Roman', Times, serif;
  text-align: center;

}

.container h1{
  max-width: 800px;
  font-size: 2vw;
  
}

.link{
  margin-top: 2vw;
  
}